* {
    font-family: Arial;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
}

img {
    vertical-align:middle;
    height: 20px;
    width: auto;
}

li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
  }

#logo {
    width: 25%;
    height: 25%;
    display:block;
    padding-top: 100px;
    margin-left:auto;
    margin-right:auto;
}

input {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

input[type=text] {
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(221, 216, 216);
}

input[type=button] {
    display: inline-block;
    margin: 11px 4px;
    text-align: center;
}

div {
    text-align: center;
    margin: 0 auto;
    width: auto;
}

.box {
    display: flex;
    align-items:center;
}

.footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(242, 242, 242);
}


